body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#game-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.level {
    display: none;
}

#score-container {
    text-align: center;
    margin-top: 20px;
}

#score {
    font-size: 1.5em;
    color: #333;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
}

#run-button-1, #run-button-2, #run-button-3, #run-button-4, #run-button-5, #run-button-6, #run-button-7, #next-level-button, #prev-button-1, #prev-button-2, #prev-button-3, #prev-button-4, #prev-button-5, #prev-button-6, #prev-button-7, #hint-button-1, #hint-button-2, #hint-button-3, #hint-button-4, #hint-button-5, #hint-button-6, #hint-button-7 {
    background-color: #28a745;
    color: #fff;
}

#run-button-1:hover, #run-button-2:hover, #run-button-3:hover, #run-button-4:hover, #run-button-5:hover, #run-button-6:hover, #run-button-7:hover, #next-level-button:hover, #prev-button-1:hover, #prev-button-2:hover, #prev-button-3:hover, #prev-button-4:hover, #prev-button-5:hover, #prev-button-6:hover, #prev-button-7:hover, #hint-button-1:hover, #hint-button-2:hover, #hint-button-3:hover, #hint-button-4:hover, #hint-button-5:hover, #hint-button-6:hover, #hint-button-7:hover {
    background-color: #218838; /* Darker shade of green on hover */
    color: #e0e0e0; /* Slightly lighter color on hover */
}

#prev-button-1, #prev-button-2, #prev-button-3, #prev-button-4, #prev-button-5, #prev-button-6, #prev-button-7 {
    margin-left: 10px;
}

textarea {
    width: 100%;
    font-family: monospace;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#editor-info-1, #editor-info-2, #editor-info-3, #editor-info-4, #editor-info-5, #editor-info-6, #editor-info-7 {
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
}
