body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

#game-container {
    border: 3px solid #4CAF50;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;   
    margin: auto;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.level {
    display: none;
    max-width: 800px; 
    margin: auto;
}

.level.active {
    display: block;
}

textarea {
    width: 100%;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}

#editor-info {
    text-align: right;
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 15px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

pre {
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    text-align: left;
    white-space: pre-wrap;
}

#hint-button {
    background-color: #FFD700;
    color: white;
}

#hint-button:hover {
    background-color: #FFC700;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
}

footer a {
    color: #000000; 
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

#score-container {
    margin-top: 20px;
    font-size: 18px;
    color: #4CAF50;
}

#next-level-button, #prev-button {
    display: none;
}

#prev-button {
    background-color: #4CAF50;
}

#prev-button:hover {
    background-color: #45a049;
}
